<br>
<h1 class="animated fadeIn fast">¿Quienes Somos?</h1>
<hr>
<p class="animated fadeIn">
    Cooperativa de Transportes Ecuador fue fundada el 16 de octubre de 1952 en Quito con la propuesta de brindar el mejor servicio de transporte interprovincial del país. Contamos con más de 68 años de experiencia en servicio, seguridad y comodidad. Nuestras 54 unidades doble piso son modernas y equipadas con la mejor tecnología en servicio de viajes terrestres. Nuestra principal ruta es Quito-Guayaquil, Guayaquil-Quito, en nuestro trayecto realizamos paradas en Babahoyo, Durán y Ventanas, teniendo oficinas en las cuales es posible adquirir boletos o solicitar información. Es así que durante todos estos años nos hemos caracterizado por ser pioneros en el transporte nacional.
</p>